/*if anyones reading this the date is 4/17/2023 00:30 / 12:30 AM, I  have made the best noodles of my life, call me gordoto I know,
but the recipe is samyang 2x spice red pack noodles, 1 1/2 tables spoons of mayo, 1 1/2 table spoons of butter, 2 slices
of kraft cheddar cheese, 2/5 cup of milk, regular mushrooms sliced in HALFS to be thicker. vola*/

/*GLOBAL CLASSES-----------------------------*/
.jumpBtn:link{
    color: rgb(247, 240, 255);
    text-decoration: none;
}

.jumpBtn:visited{
    color: rgb(247, 240, 255);
    text-decoration: none;
}

.hidden{
    opacity: 0;
    -webkit-filter: blur(15px);
            filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
    transform: translateX(0);
}
/*---------------------------------------*/

/*TRUE BACKGROUND-----------------------------*/
#background{
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#gradient{
    position: fixed;
    width: 200%;
    height: 400%;
    min-height: 1000px;
    min-width: 500px;
    background-image: linear-gradient(0deg, rgb(255, 71, 71),  rgb(63, 88, 154),rgb(255, 103, 217));
    -webkit-animation: gradientSpin 10s linear infinite;
            animation: gradientSpin 10s linear infinite;
}
/*---------------------------------------*/

/*HOME PAGE & TEXT ON IT-----------------------------*/
#container{
    position: absolute;
    width: 90vw;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 15px 20px rgb(64, 64, 64);
    border-radius: 10px 0px 0px 10px;
    margin: 10%;
    overflow: scroll;
}

#headerContainer{
    color: rgb(0, 0, 0);
    text-align: left;
    display: flex;
    align-items: center;
    width: 40%;
    height: 50%;
    padding-left: 50px;
    position: absolute;
}

#myName{
    margin: 0;
}

#headerTextContainer{
    font-size: 40px;
    border-radius: 30px;
    position: absolute;
    font-family: 'Dongle', sans-serif, Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#subHeaderContainer{
    color: rgb(72, 72, 72);
    text-align: left;
    position: relative;
    font-size: 10px;
    z-index: 2;
}

#subSubText{
    position: absolute;
    font-size: 12px;
    width: 70%;
    height: 100%;
    z-index: 2;
    text-align: center;
}

#scroll{
    position: absolute;
    font-size: 20px;
    bottom: 5%;
    left: 5%;
    color: rgb(82, 82, 82);
    -webkit-animation: textBounce 0.75s ease-in-out infinite;
            animation: textBounce 0.75s ease-in-out infinite;
} 

#imageContainer{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#imageBack{
    position: absolute;
    background-color: rgb(218, 206, 232);
    position: absolute;
    display: flex;
    justify-content: center;
    width: 20%;
    max-width: 360px;
    height: 80%;
    max-height: 600px;
    bottom: 0;
    border-radius: 40% 40% 0px 0px;
}

#myPhoto{
    width: 100%;
    max-width: 360px;
    height: auto;
    max-height: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
}
/*---------------------------------------*/

/*DIVS-----------------------------*/
#topBar{
    -webkit-animation: slideOut 4s ease-in-out 1;
            animation: slideOut 4s ease-in-out 1;
    background-image: linear-gradient(to right, rgb(179, 133, 227), rgb(218, 206, 232));
}

#homeDivSelected{
    -webkit-animation: textSlide 1s ease-out 4s 1 backwards;
            animation: textSlide 1s ease-out 4s 1 backwards;
    color: rgb(246, 144, 237);
}

#aboutDiv{
    -webkit-animation: textSlide 1s ease-out 4.5s 1 backwards;
            animation: textSlide 1s ease-out 4.5s 1 backwards;
}

#skillDiv{
    -webkit-animation: textSlide 1s ease-out 5s 1 backwards;
            animation: textSlide 1s ease-out 5s 1 backwards;
}

#contactDiv{
    -webkit-animation: textSlide 1s ease-out 5.5s 1 backwards;
            animation: textSlide 1s ease-out 5.5s 1 backwards;
}

#sideBar{
    background-image: linear-gradient(to right, rgb(218, 206, 232), rgb(179, 133, 227));
    width: 100px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 60px 0px 0px 60px;
    -webkit-animation: sideBarShow 1.5s ease-out 1;
            animation: sideBarShow 1.5s ease-out 1;
}
/*---------------------------------------*/

/*ICONS-----------------------------*/
#linkedInIconDiv{
    height: 20%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#linkedInIcon{
    font-size: 35px;
    color: rgb(247, 240, 255);
    -webkit-animation: iconSize 1.5s ease-out 1;
            animation: iconSize 1.5s ease-out 1;
}

#linkedInLink{
    cursor: pointer;
    z-index: 3;
}

#lightDark{
    height: 10%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#colorBtn{
    border: none;
    font-size: 40px;
    color: rgb(247, 240, 255);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    z-index: 5;
    -webkit-animation: iconSize 1.5s ease-out 1;
            animation: iconSize 1.5s ease-out 1;
}
/*---------------------------------------*/

/*CLASSES-----------------------------*/
.text{
    font-family: sans-serif, Arial, Helvetica;    
}

.topBarClass{
    position: absolute;
    top: 0;
    width: 85%;
    height: 10%;
    border-radius: 9px 0px 50px 0px;
    border-bottom: 1px solid rgb(155, 110, 200);
    display: flex;
    align-items: center;
    font-family: 'Dongle', sans-serif, Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(247, 240, 255);
}

.topBarText{
    width: 10%;
    height: auto;
    margin-left: 5%;
    cursor: pointer;
    z-index: 2;
}
/*---------------------------------------*/

/*KEY-FRAMES-----------------------------*/
@-webkit-keyframes gradientSpin{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes gradientSpin{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

@-webkit-keyframes textBounce{
    0%{transform: translateY(0%);}
    50%{transform: translateY(50%);}
    100%{transform: translateY(0%);}
}

@keyframes textBounce{
    0%{transform: translateY(0%);}
    50%{transform: translateY(50%);}
    100%{transform: translateY(0%);}
}

@-webkit-keyframes textSlide{
    0%{transform: translateY(-30%); opacity: 0;};
    100%{transform: translateY(0%); opacity: 1;};
}

@keyframes textSlide{
    0%{transform: translateY(-30%); opacity: 0;};
    100%{transform: translateY(0%); opacity: 1;};
}

@-webkit-keyframes slideOut{
    0%{width: 0%;};
    100%{width: 100%;}
}

@keyframes slideOut{
    0%{width: 0%;};
    100%{width: 100%;}
}

@-webkit-keyframes sideBarShow{
    0%{width: 0px};
    100%{width: 100px};
}

@keyframes sideBarShow{
    0%{width: 0px};
    100%{width: 100px};
}

@-webkit-keyframes iconSize{
    0%{font-size: 0};
    100%{font-size: 35px};
}

@keyframes iconSize{
    0%{font-size: 0};
    100%{font-size: 35px};
}
/*---------------------------------------*/

/*SECOND PAGE DIVIDER ----------------------------------------------------------------*/

/*CONTAINERS-----------------------------*/
#aboutSection{
    position: absolute;
    width: 90vw;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 15px 20px rgb(64, 64, 64);
    border-radius: 10px;
    top: 100vh;
    margin: 10%;
    overflow: scroll;
}

#subContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 85%;
    height: 75%;
    overflow: scroll;
}
/*---------------------------------------*/

/*DIVS-----------------------------*/
#topBarNoAnim{
    background-image: linear-gradient(to right, rgb(179, 133, 227), rgb(218, 206, 232));
}

#homeDiv{
    -webkit-animation: textSlide 1s ease-out 4s 1 backwards;
            animation: textSlide 1s ease-out 4s 1 backwards;
}

#aboutDivSelected{
    -webkit-animation: textSlide 1s ease-out 4.5s 1 backwards;
            animation: textSlide 1s ease-out 4.5s 1 backwards;
    color: rgb(246, 144, 237);
}
/*---------------------------------------*/


/*CLASSES-----------------------------*/
.about{
    width: 48%;
    height: 45%;
    position: absolute;
    text-align: center;
    border-radius: 10px;  
    font-size: 18px;  
    color: rgb(189, 97, 255);
    font-family: 'Oswald', sans-serif;
    overflow: scroll;
    padding: 0px 5px 0px 5px;
}

.aboutHeader{
    margin: 2% 0px 3% 0px;
}
/*---------------------------------------*/


/*ABOUT BOXES-----------------------------*/
#aboutMe{
    background-color: rgb(225, 198, 255);
}

#aboutGoals{
    background-color: rgb(225, 198, 255);
    right: 0%;
}

#aboutBackground{
    background-color: rgb(225, 198, 255);
    right: 0%;
    bottom: 0%;
}

#aboutEthic{
    background-color: rgb(225, 198, 255);
    bottom: 0%;
}
/*---------------------------------------*/

/*THIRD PAGE DIVIDER ----------------------------------------------------------------*/

#skillSection{
    position: absolute;
    width: 90vw;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 15px 20px rgb(64, 64, 64);
    border-radius: 10px;
    top: 212vh;
    margin: 10%;
    overflow: scroll;
}

#skillDivSelected{
    -webkit-animation: textSlide 1s ease-out 5s 1 backwards;
            animation: textSlide 1s ease-out 5s 1 backwards;
    color: rgb(246, 144, 237);
}

#topBarNoAnim2{
    background-image: linear-gradient(to right, rgb(179, 133, 227), rgb(218, 206, 232));
}

.skillDivs{
    display: inline-flex;
    justify-content: center;
    background-color: rgb(225, 198, 255);
    border: 3px solid rgb(122, 122, 122);
    border-radius: 10px;
    width: 12%;
    height: 70%;
    margin: 10% 2% 2% 4.8%;
    left: 5%;
    right: 5%;
}

/*
.skillDivs:nth-child(1){
    
}

.skillDivs:nth-child(2){
    
}

.skillDivs:nth-child(3){
    
}

.skillDivs:nth-child(4){
    
}

.skillDivs:nth-child(5){
    
}

*/

.pli{
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgb(255, 142, 255);
}

.skillimg{
    position: absolute;
    width: 12%;
    height: 25%;

}

.skilltext{
    position: relative;
    text-align: center;
    width: 100%;
    height: 55%;
    top: 40%;
    overflow: scroll;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
}